.list {
    position: relative;
    width: 100%;
    font-size: calc(34px * 0.9);
}

.list,
.list:after,
.list:before,
.list *,
.list *:after,
.list *:before {
    box-sizing: border-box;
}

.list>div {
    position: absolute;
    will-change: transform, width, height, opacity;
    padding: 0.5em;
}

.list>div>a {
    position: relative;
    display: block;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: calc(17em / 34);
    box-shadow: 0px 10px 50px -10px rgba(0, 0, 0, 0.2);
}

.card-img {
    position: absolute;
    height: 100%;
    width: 100%;
}

.card-img>svg {
    display: block;
    width: 100%;
    height: 100%;
    transform: unset !important;
    /* so lottie animations don't appear blurry on Chrome */
}

.card-content {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0.618em;
    gap: 0.618em
}

.card-content>.logo {
    display: block;
    line-height: 0;
}

.card-content>.logo>svg {
    height: 1em;
}

.card-content>.logo>svg#the-shirt,
svg#vinal {
    height: 1.618em;
}

.tags {
    list-style: none;
    display: flex;
    flex-flow: row-reverse wrap-reverse;
    font-size: calc(16px * 0.9);
    gap: calc(8em / 16);
}

.tags>li {
    font-style: italic;
    font-weight: 500;
    width: max-content;
    padding: calc(3em / 16) calc(8em / 16) calc(5em / 16);
    border-radius: calc(6.5em / 16);
}

.details-container {
    font-size: calc(34px * 0.9);
    min-height: calc(100vh - (89rem / 34));
    padding: calc(62rem / 34) calc(152rem / 34) calc(144rem / 34);
    border-bottom-left-radius: calc(44.5rem / 34);
    border-bottom-right-radius: calc(44.5rem / 34);
}

.details-container * {
    color: white;
    fill: white;
}

.details-container>p:last-child {
    text-align: center;
    margin-top: calc(34px * 0.9);
}

.cover-container {
    position: relative;
    height: calc(610rem / 34);
    border-radius: calc(22.5rem / 34);
    overflow: hidden;
}

.cover-content {
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 99;
    padding: 1.618em 1em 1em;
    display: flex;
    justify-content: space-between;
    gap: 1em;
    color: white;
    background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 85%, rgba(0, 0, 0, 0.3) 100%);
}

.cover-content>div {
    font-size: 0.618em;
    text-align: left;
}

.cover-content>div:last-child {
    text-align: right;
}

.cover-content h3 {
    font-size: calc(16em / 21);
    font-weight: 300;
    letter-spacing: calc((55rem / 34) / 16);
    text-transform: lowercase;
}

.cover-content h2 {
    font-size: 1em;
    font-weight: 400;
    font-style: normal;
}

.cover-img {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 0;
}

.cover-img>* {
    height: 100%;
    width: 100%;
}

.cover-img>svg {
    display: block;
}

.cover-img>img {
    object-fit: cover;
}

.details-container>.tags {
    flex-flow: row wrap;
    justify-content: flex-end;
    margin: calc(21em / 16);
}

@media screen and (max-width: 669px) {
    .cover-content {
        padding: 1.618em 0.618em 0.618em;
        gap: 0.618em;
    }
}

@media screen and (max-width: 624px) {
    .details-container {
        font-size: calc(26px * 0.9);
        padding: 61.19px 1.618rem calc(144rem / 34);
    }

    .cover-container {
        height: calc(377rem / 34);
        border-radius: calc(22.5rem / 34);
    }

    .cover-content {
        padding: 1.618em 0.618em 0.618em;
        gap: 0.618em;
    }

    .tags {
        font-size: calc(13px * 0.9);
    }

    .details-container>.tags {
        margin: calc(13em / 16);
    }
}

@media screen and (max-width: 480px) {
    .list>div {
        padding: calc(0.5em * 0.618);
    }

    .details-container {
        padding: 61.19px calc(13rem / 34) calc(144rem / 34);
    }
}