.about-container {
    display: flex;
    justify-content: space-between;
    gap: 1.618rem;
    margin-bottom: 1.618rem;
}

.about-text-container {
    flex: 0 1 61.8%;
}

.about-illustration-container {
    flex: 1 1 38.2%;
    display: flex;
    flex-direction: column;
    margin: 0.618rem 0;
    margin-left: 0;
    background: rgba(221,70,35,0.382);
    border-radius: calc(22.5rem / 34);
}

.link-container {
    display: inline-block;
}


@media screen and (max-width: 802px) {
    .about-container {
        flex-direction: column;
        align-items: center;
    }

    .about-svg-container {
        display: none;
    }

    .about-svg-container-alt {
        width: 180.8959px;
        display: inline;
    }
}


@media screen and (min-height: 1080px) and (max-width: 1001px) {
    .about-container {
        flex-direction: column;
        align-items: center;
    }

    .about-svg-container {
        display: none;
    }

    .about-svg-container-alt {
        width: 180.8959px;
        display: inline;
    }
}
@media screen and (max-width: 661px) {
  .about-container p,
  .tab-container * {
    font-size: 0.77rem;
  }
}