.about-container {
    display: flex;
    justify-content: space-between;
    gap: 21px;
}

.about-text-container {
    flex: 1.618 1 0;
}

.about-svg-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1 0;
    max-height: 38vh;
}

.about-svg-container-alt {
    display: none;
}

.link-container {
    display: inline-block;
}


@media screen and (max-width: 802px) {
    .about-container {
        flex-direction: column;
        align-items: center;
    }

    .about-svg-container {
        display: none;
    }

    .about-svg-container-alt {
        width: 180.8959px;
        display: inline;
    }
}


@media screen and (min-height: 1080px) and (max-width: 1001px) {
    .about-container {
        flex-direction: column;
        align-items: center;
    }

    .about-svg-container {
        display: none;
    }

    .about-svg-container-alt {
        width: 180.8959px;
        display: inline;
    }
}