.home-bar {
    position: fixed;
    padding: 1rem;
    padding-bottom: 21px;
    border-bottom-left-radius: 22.5px;
    border-bottom-right-radius: 22.5px;
    width: calc(100% - 34px - 34px);
    /* display: flex; */
    /* justify-content: space-between; */
    /* align-items: center; */
    background-color: #E3E3E3;
    z-index: 100;
}

.home-bar-icon {
    fill: #585858;
    transition-property: fill;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
}

.home-bar-icon:hover {
    cursor: pointer;
    fill: #272727;
    transition-property: fill;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
}

/* .icon-container {
    margin-left: 13px;
} */

@media screen and (max-width: 640px) {
    .home-bar {
        padding: 13px 21px;
        padding-bottom: 13px;
        width: calc(100% - 21px - 21px);
        z-index: 101;
    }
}

@media screen and (max-width: 516px) {
    .home-bar {
        border-bottom-left-radius: 10.5px;
        border-bottom-right-radius: 10.5px;
    }
    .icon-container {
        margin-left: 8px;
    }
}