.line-container {
    display: flex;
    justify-content: center;
}

.line {
    display: flex;
    align-items: center;
    gap: .618em;
    background-color: var(--forest);
    padding: .618rem 1rem;
    border-radius: calc(13rem / 34);
    will-change: contents;
}

.button {
    background-color: var(--green-parakeet);
    color: var(--cool-neutral);
    fill: var(--cool-neutral);
    padding: 0 calc(17rem / 34);
    height: 1.618rem;
    display: flex;
    align-items: center;
    gap: calc(8rem / 34);
    border-radius: calc(8rem / 34);
    box-sizing: content-box !important;
}

.button-text {
    color: inherit;
    font-size: 1em;
    margin: 0;
    padding: 0;
    padding-right: calc(8rem / 34);
    line-height: 0em;
}

.button-text * {
    font-size: 0.618em !important;
    line-height: 1em;
}

.email-icon {
    fill: inherit;
    display: block;
    flex: 0 0 calc(21rem / 34);
}

@media screen and (max-width: 480px) {
    .line {
        text-align: center;
        flex-direction: column;
        gap: 0.382em;
    }
}