:root {
  --active: #585858;
  --inactive: #B1B1B1;
}

html, body {
  overflow-x: hidden;
  margin: 0px;
  padding: 0px;
  -webkit-tap-highlight-color: rgba(0,0,0,0.05);
}

.App {
  font-family: 'Futura';
  text-align: center;
  background-color: #272727;
}

h1, h2, h3 {
  font-weight: 500;
  margin: 0;
}

p {
  font-size: 18px;
  text-align: left;
  margin: 0;
  margin-bottom: 21px;
}

p:last-child {
  margin: 0;
}

ul {
  margin: 0px;
}

a, .nav-link {
  -webkit-user-select: none;
  user-select: none;
  text-decoration: none;
  color: #000000;
  transition-property: color, fill;
  transition-duration: .2s;
  transition-timing-function: ease-in-out;
}

a:hover, .nav-link:hover, .icon:hover {
  cursor: pointer;
  color: var(--active);
  fill: var(--active);
  transition-property: color, fill;
  transition-duration: .2s;
  transition-timing-function: ease-in-out;
}

a:hover, .icon:hover {
  color: #272727;
  fill: #272727;
  transition-property: color, fill;
  transition-duration: .2s;
  transition-timing-function: ease-in-out;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 55px;
}

.nav-link {
  font-size: 21px;
  color: var(--inactive);
  padding: 13px;
}

.active-link {
  color: var(--active);
}

.icon {
  width: 21px;
  position: relative;
  top: 2.618px;
}

.title {
  font-size: 55px;
  margin: 0;
}

.subtitle {
  font-size: 34px;
  margin: 0;
}

.footer {
  height: 55px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 13pt;
  color: var(--inactive);
  background-color: #272727;
}

.header-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #E3E3E3;
  height: 610px;
  border-bottom-left-radius: 22.5px;
  border-bottom-right-radius: 22.5px;
}

.header-logo {
  flex-shrink: 0;
  width: 254.97px;
}

.header-logo-container {
  display: flex;
  justify-content: center;
}

.filters {
  font-size: 21px;
  color: var(--inactive);
  margin: 13px 0 13px 0;
  transition-property: color;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}

.filter-active {
  color: var(--active);
}

.filter:hover{
  cursor: pointer;
  color: var(--active);
  transition-property: color;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}

.home-container {
  min-height: calc(100vh - 55px);
  background-color: white;
  border-bottom-left-radius: 22.5px;
  border-bottom-right-radius: 22.5px;
}

.tab-container {
  padding: 21px 34px 21px 34px;
}

@media screen and (max-width: 590px) {
  .filters {
    font-size: 13px;
  }
  .header-content {
    border-bottom-left-radius: 17px;
    border-bottom-right-radius: 17px;
  }
  .home-container {
    border-bottom-left-radius: 17px;
    border-bottom-right-radius: 17px;
  }
}

@media screen and (max-width: 516px) {
  .footer {
    height: 34px;
    font-size: 13px;
  }
  .tab-container {
    padding: 21px;
  }
  .header-content {
    border-bottom-left-radius: 10.5px;
    border-bottom-right-radius: 10.5px;
  }
  .home-container {
    min-height: calc(100vh - 34px);
    border-bottom-left-radius: 10.5px;
    border-bottom-right-radius: 10.5px;
  }
}

@media screen and (max-height: 840px) {
  .header-content {
    height: 466px;
  }
}

@media screen and (min-height: 1080px) {
  p {
    font-size: 21px;
  }
  .icon {
    top: 1.85px;
  }
  .header-content {
    height: 987px;
  }
  .header-logo {
    width: 411.93px;
  }
  .title {
    font-size: 89px;
  }
  .subtitle {
    font-size: 55px;
  }
  .filters {
    font-size: 34px;
    margin: 21px 0 0 0;
  }
  .tab-container {
    padding: 21px 55px 34px 55px;
  }
}

@media screen and (min-height: 1080px) and (max-width: 1001px) {
  .filters {
    font-size: 21px;
  }
}