:root {
  --primary-font: "azo-sans-web", sans-serif;
  --header-font: "grenadine-mvb", sans-serif;
  --sun-conure: #E2911B;
  --khaki: #EAD7A1;
  --scarlet: #DD4623;
  --forest: #001412;
  --spruce: #0B1C18;
  --green-parakeet: #155243;
  --cool-neutral: #F5F0D3;
}

html, body {
  font-size: 30.6px;
  color: var(--cool-neutral);
  background-color: var(--forest);
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  /* -webkit-tap-highlight-color: rgba(0,0,0,0.05); */
}

ul {
  padding: 0;
}

::selection {
  background: rgba(221,70,35,0.382);
}

::-webkit-selection {
  background: rgba(221,70,35,0.382);
}

::-moz-selection {
  background: rgba(221,70,35,0.382);
}

